.playlist-item {

    background: #222;

    color: white;

    padding: 15px;

    margin: 10px;

    border-radius: 8px;

}

#now-playing {

    background: #1DB954;

    color: black;

    font-weight: bold;

}